@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Spectral-Light';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(assets/fonts/spectral/Spectral-Light.ttf) format('ttf');
    }
}